# Consider duration, age, and campaign columns as predictors and the column “y”(states whether the client will subscribe a term deposit or not) as target  variable

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("D:\\Dataset\\bank-additional-full.csv")
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [6]:
x=df.drop(['job','marital','education','default','housing','loan','contact','month','day_of_week','pdays','previous','poutcome',
          'emp.var.rate','cons.price.idx','euribor3m','nr.employed','y','cons.conf.idx'],axis=1)
x

       age  duration  campaign
0       56       261         1
1       57       149         1
2       37       226         1
3       40       151         1
4       56       307         1
...    ...       ...       ...
41183   73       334         1
41184   46       383         1
41185   56       189         2
41186   44       442         1
41187   74       239         3

[41188 rows x 3 columns]

In [8]:
y=df['y']
y

0         no
1         no
2         no
3         no
4         no
        ...
41183    yes
41184     no
41185     no
41186    yes
41187     no
Name: y, Length: 41188, dtype: object

In [13]:
#Use 70% of the data as training data set and 30% of data as testing data set.
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(28831, 3)
(12357, 3)
(28831,)
(12357,)

In [14]:
#Build a logistic regression model.  
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [15]:
model.intercept_

array([-3.41880651])

In [16]:
model.coef_

array([[ 0.01150589,  0.00362372, -0.14608182]])

In [17]:
train_prediction=model.predict(x_train)
train_prediction

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype=object)

In [22]:
test_prediction=model.predict(x_test)
test_prediction

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype=object)

In [21]:
#Determine the classification accuracy rate of the model on both train and test set.
train_accuracy=model.score(x_train,y_train)
print('train_acuracy:',train_accuracy)
test_accuracy=model.score(x_test,y_test)
print('test_acuracy:',test_accuracy)

train_acuracy: 0.8927543269397523
test_acuracy: 0.8937444363518653